*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-orange: hsl(26, 100%, 55%);
  --color-primary-pale-orange: hsl(25, 100%, 94%);

  --color-secondary-very-dark-blue: hsl(220, 13%, 13%);
  --color-secondary-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-secondary-grayish-blue: hsl(220, 14%, 75%);
  --color-secondary-light-grayish-blue: hsl(223, 64%, 98%);

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

@media screen and (min-width: 1440px) {
  body {
    margin: 40px 200px 0 200px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.active {
  opacity: 0.5;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 2rem;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 2rem;
}
